body {
    background-color: #C9D5B5;
}

.titulo {
    border: 2px solid #3b38cc;
    text-align: center;
    border-radius: 12px;
    color: darkslategray;
    background-color: #dfdbe54f;
    margin-top: 10px;
    margin-bottom: 25px;
    margin-right: 50px;
    margin-left: 50px;

}

.cuerpo {
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: #b6b0c0;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23199da2' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.argumento {

    text-align: center;
    color: darkslategray;
    /*border: 2px solid  #3b38cc;
    border-radius: 12px;
     background-color: #DFDBE54f;*/
    margin-top: 5px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

main {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

label {
    color: black;
}

img {
    max-width: 50%;
    max-height: auto;
    position: relative;
}

.inputTarjeta {
    border: 2px solid #3b38cc;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
}

.botonValidar {
    border: 2px solid #3b38cc;
    border-radius: 8px;
    background-color: rgb(115, 115, 196);
    margin-top: 00px;
    margin-bottom: 10px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 5px;

}

.resultadoFinal {

    background-color: #DFDBE5;
    border: 2px solid rgba(0, 0, 0, 0.288);
    border-radius: 12px;
    margin-top: 00px;
    margin-bottom: 10px;
    margin-right: 120px;
    margin-left: 120px;

}