@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,200;0,400;0,700;1,100&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');

body{
    margin: 0px;
    margin-top: 0px;
    width: 1920px;
    height: 955px;
    background-image: url(https://i.ibb.co/7pLCRfG/pantalla-Valida.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gotham Black', sans-serif;
}


.img_encabezado{
    margin: 0%;
    margin-left: 0px;
    align-content: center;
    align-self: top;
    background-color:black;
}

.alertValida{
    position: absolute;
    background-color: #00E896;
    font-family: 'Gotham Black', sans-serif;
    font-size: 18px;
    text-align: left;
    color: #000000;
    width: 1892px;
    height: 48px;
    left: 0px;
    top: 899px;
    padding-left: 26px;
    padding-top: 22px;
}